.header-nav-container {
  display: flex;
  top: 0px;
  position: fixed;
  background: #000;
  color: #e5e5e5;
  width: 100%;
  align-items: center;
  height: 70px;
  font-size: 14px;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 25%;
}

.nav-links a {
  cursor: pointer;
}

.nav-links a:hover {
  color: #b3b3b3;
}

.header-logo {
  font-weight: 900;
  margin-left: 20px;
  font-size: 20px;
  font-style: oblique;
  color: #00d2df;
}
